<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>association | gopher path</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="//lipis.github.io/bootstrap-social/bootstrap-social.css"/>
        <link rel="stylesheet" href="/jumbotron-narrow.css"/>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    </head>
    <body ng-controller="AssocCtrl">
        <div class="container">
            <div class="header">
				<span><h1>Gopher Path <small>hosted Go import paths</small></h1></span>
            </div>
			<button class="btn btn-default" ng-click="signOut()">
				Sign out
			</button>
            <div class="row domain-add">
                <div class="input-group">
                    <div class="errors" ng-show="domainForm.error">
                      <span ng-bind="domainForm.error"></span>
                    </div>
                    <span class="input-group-btn">
                        <button ng-click="addAssoc()" class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                    </span>
                    <input ng-model="domainForm.newDomain" type="text" class="form-control" placeholder="go.bmats.co">
                </div>
                <p class="help-block">Associate a subdomain you own with you
                github account.</p>
                <p>After the association is complete create a CNAME alias for
                the domain with value <strong>gipspot.appspot.com.</strong></p>
            </div>
            <div class="row domain-list">
                <h3>Your domains</h3>
                <div class="domain" ng-repeat="assoc in associations">
                    <span class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <strong>{{assoc.domain}}</strong>
                    </span>
                    <span><span class="glyphicon glyphicon-ok"></span></span>
                </div>
                <!--div class="domain">gogo.bmats.co</div-->
            </div>
        </div>
        <script src="/app.js"></script>
    </body>
</html>
